body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

h1, h2 {
    color: #333;
}

a {
    color: #0077cc;
    text-decoration: none;
}

ul {
    list-style-type: square;
    padding: 0 40px;
}
form {
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: white;
}

label {
    display: block;
    margin-bottom: 10px;
}

input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type="submit"] {
    background-color: #0077cc;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0055a4;
}

table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ccc;
}

th, td {
    padding: 10px 20px;
    text-align: left;
}

h1 {
    background-color: #0077cc;
    color: white;
    padding: 20px;
    text-align: center;
}

p {
    margin: 10px 0;
    padding: 0 30px;
    font-family: "Arial", sans-serif; 
            font-size: 20px;
}
h2{

    margin: 10px 0;
    padding: 0 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background-color: gr;
    border-bottom: 2px solid black;
    
}



main , header{
    width: 100%;
    margin: auto;
    
}

img{
    text-align: center;
}

body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
  }
  
  .hoja-de-vida {
    width: 80%; 
    margin: 0 auto;
    padding: 100px; 
    border: 11px solid #ccc;
  }
  
  body {
    background-color: #FFA500; 
    margin: 0;
    padding: 0; 
  }
  
  .contenido {
    background-color: white; 
    max-width: 1500px; 
    margin: 0 auto; 
    padding: 40px; 
  }


.Imagen2 {
    width: 200px; 
    height: 200px; 
    border-radius: 50%; 
}

.centrado {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body {
    background-color: cadetblue; 
  }


footer{
    text-align: center;
}